* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  background-color: #ae0e0e;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Fira Code', monospace;
  border-bottom: 2px solid #444;
}

main {
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  overflow: hidden;
}

.left, .right {
  flex: 1;
  border-radius: 0.7rem;
  overflow-y: auto;
}

.left {
  background-color: #000000;
  position: relative;
}

.code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

.review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}

.right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
